# Configuración del Bot de Telegram
TELEGRAM_BOT_TOKEN=8161890641:tu_token_de_telegram

# Configuración de Google Sheets
GOOGLE_SHEETS_ID=id_de_tu_hoja_de_calculo
GOOGLE_CREDENTIALS_FILE=credentials.json

